.footer_container {
    position: absolute;
    bottom: -1.8rem;
    left: 0;
    padding: 0 4vw;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: #6a6a6a;
}